@import "tailwindcss";

@theme {
  --font-headline: "Limelight", ui-serif, Georgia, "Times New Roman", Times, serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-noir-dark: oklch(0.28 0.1158 29.23);
    --color-noir-light: oklch(0.93 0.0245 77.45);
    --color-noir-gray: oklch(0.54 0 0);
    --color-noir-gold: oklch(0.73 0.1306 86.65);
    --color-noir-black: oklch(22.64% 0.000 0)
}


html,
body {
  @apply bg-white dark:bg-gray-950 min-h-screen;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1,h2,h3 {
 @apply font-headline;
}

h1 {
  font-size: clamp(2rem, 3vw + 1rem, 20rem);
  font-weight: 900;
  line-height: 1;
}

h2 {
  font-size: clamp(1.5rem, 2vw + 1rem, 1.8rem);
  font-weight: 800;
  line-height: 1.2;
}

.style-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-noir-dark) transparent;
  scrollbar-gutter: stable;
  scroll-padding: 2rem;
}

.block-label {
 @apply block text-xl font-medium text-noir-dark dark:text-white capitalize bg-noir-gold max-w-max p-2
}

.noir-outline {
  @apply bg-noir-gray/20 rounded-md border-6 lg:border-6 border-noir-light/90 shadow-sm backdrop-blur-xs hover:bg-noir-gray/30 transition-colors duration-300 ease-in-out;
}

.tag {
  @apply text-sm bottom-2 right-2 bg-noir-gold/80 border-2 border-noir-gold rounded-lg text-noir-dark px-2 py-1 capitalize font-semibold
}

.details-title {
  view-transition-name: image-title;
}
